<div style="margin: auto; max-width: 900px;background-color: chocolate; color: cornsilk;height: 100px;">
    <div style="text-align: center;padding-top: 20px;">
        <h1><b>Feedback App</b></h1>
    </div>
</div>
<div>
    <form>
        <div class="event_input">
            <div class="event_title">
                <p style="padding-left: 30px;">Enter Your Name:</p>
                <input [(ngModel)]="pname" placeholder="Add Name" name="pname">
            </div>
            <div class="event_feedback">
                <p>Enter Feedback:</p>
                <input [(ngModel)]="feedback" placeholder="Add Feedback" name="feedback">
            </div>
            <button type="submit" *ngIf="pname!=='' && feedback!==''" (click)="onSubmit()">Add Feedback</button>
        </div>
    </form>
</div>